.portfolio {
  @media (max-width: 1023px) {
    background-color: $white;
  }
  & .sectionHeader {
    padding-top: 90px;
    padding-bottom: 60px;
    background-color: $white;
    @media (max-width: 1023px) {
      padding: 60px 0;
    }
    @media (max-width: 767px) {
      padding: 60px 0 30px;
    }
  }
}