section.section.portfolio#portfolio
  .container
    .row
      .sectionHeader.col-xxl-29.col-xl-31.col-lg-30.pl-xxl-3.pl-xl-1.pl-lg-2.pl-md-1.pr-0
        .sectionHeader__row
          .sectionHeader__icon.animate
          .sectionHeader__content
            h2.animate.sectionHeader__title.title.--short Более 700 объектов построено с нашей помощью
  .container
    .slider.slider__swiper.row
      .slider__container.col-xl-19.col-lg-18.pr-lg-0.pr-md-1.p-0
        .animate.swiper-container
          .swiper-wrapper
            .slider__item.swiper-slide
              img(class="slider__image" src="/images/slider/slide-1.jpg", alt="Картинка")
            .slider__item.swiper-slide
              img(class="slider__image" src="/images/slider/slide-1.jpg", alt="Картинка")
      .slider__content.col-xxl-10.col-lg-12.pl-lg-2.pl-md-3.pr-lg-1.pr-md-10.mr-md-1
        .animate.slider__box
          ul.slider__list
            li.slider__item
              h3 Павильон Центра<br> современного искусства
              p
                | Для строительства мы сдали в аренду более 1700 модульных столов 
                | для опалубливания перекрытий. Рамная опалубка TRIO использовалась 
                | для бетонирования стен, обеспечивая высококачественную поверхность.
              ul
                li Срок исполнения: 2 месяца
                li Использовно опалубки: 30 000 м<sup>2</sup>
          ul.slider__arrows
            li.slider__arrow.--left
            li.slider__arrow.--right
