section.section.portfolio
  .container
    .row
      +sectionHeader(
        ' col-29 pl-3 pr-0',
        'Более 700 объектов построено с нашей помощью'
      )
  .container
    .slider.row
      .slider__container.col-19.p-0
        .slider__item
          img(class="slider__image" src="/images/slider/slide-1.jpg", alt="Картинка")
        .slider__item
          img(class="slider__image" src="/images/slider/slide-1.jpg", alt="Картинка")
      .slider__content.col-10.pl-2.pr-1
        .slider__box
          ul.slider__list
            li.slider__item
              h3 Павильон Центра<br> современного искусства
              p
                | Для строительства мы сдали в аренду более 1700 модульных столов 
                | для опалубливания перекрытий. Рамная опалубка TRIO использовалась 
                | для бетонирования стен, обеспечивая высококачественную поверхность.
              ul
                li Срок исполнения: 2 месяца
                li Использовно опалубки: 30 000 м<sup>2</sup>
          ul.slider__arrows
            li.slider__arrow.--left
            li.slider__arrow.--right
