section.section.additional
  .container
    .row
      +sectionHeader(
        ' col-19 ml-3 p-0',
        'Также в наличии',
      )
  .container
    .row
      ul.additional__list.col-26.mr-3.ml-3.p-0
        li.additional__item
          img(class="additional__icon" src="/images/icons/Opalubka.svg")
          h4.additional__name Объемная опалубка
          p.additional__text
            | Cборная металлическая каркасная конструкция 
            | для перекрытий большой высоты,перекрытий с капителями, 
            | возведения пролетных сооружений.
          button.additional__button.button.--secondary Оставить заявку
        li.additional__item
          img(class="additional__icon" src="/images/icons/LIFT.svg")
          h4.additional__name Лифтовая шахта
          p.additional__text
            | Представляет собой набор стандартных линейных щитов, 
            | соответствующих размеру шахты, соединенных шарнирными элементами
          button.additional__button.button.--secondary Оставить заявку
        li.additional__item
          img(class="additional__icon" src="/images/icons/BU.svg")
          h4.additional__name Б/У опалубка
          p.additional__text
            | Бюджетное решения для вашего строительства. 
            | Мы предлагаем б/у опалубку от ведущих производителей 
            | в отличном состоянии
          button.additional__button.button.--secondary Оставить заявку
        li.additional__item
          img(class="additional__icon" src="/images/icons/complect.svg")
          h4.additional__name Комлектующие
          p.additional__text
            | Стандартные и усиленные комплектующие, 
            | обеспечивающие безопасность при монтаже
          button.additional__button.button.--secondary Оставить заявку
