section.section.additional
  .container
    .row
      +sectionHeader(
        ' col-xxl-19 col-xl-22 ml-xxl-3 ml-xl-1 ml-lg-2 ml-md-1 p-0',
        'Также в наличии',
      )
  .container
    .row
      ul.additional__list.col.mx-xxl-3.mx-xl-1.mr-lg-2.ml-lg-2.md-lg-1.ml-md-1.mr-md-1.p-0
        li.animate.additional__item
          img(class="additional__icon" src="/images/icons/Opalubka.svg")
          h4.additional__name Объемная опалубка
          p.additional__text
            | Cборная металлическая каркасная конструкция 
            | для перекрытий большой высоты,перекрытий с капителями, 
            | возведения пролетных сооружений.
          label(class="additional__button button --secondary" for="callback") Оставить заявку
        li.animate.additional__item
          img(class="additional__icon" src="/images/icons/LIFT.svg")
          h4.additional__name Лифтовая шахта
          p.additional__text
            | Представляет собой набор стандартных линейных щитов, 
            | соответствующих размеру шахты, соединенных шарнирными элементами
          label(class="additional__button button --secondary" for="callback") Оставить заявку
        li.animate.additional__item
          img(class="additional__icon" src="/images/icons/BU.svg")
          h4.additional__name Б/У опалубка
          p.additional__text
            | Бюджетное решения для вашего строительства. 
            | Мы предлагаем б/у опалубку от ведущих производителей 
            | в отличном состоянии
          label(class="additional__button button --secondary" for="callback") Оставить заявку
        li.animate.additional__item
          img(class="additional__icon" src="/images/icons/complect.svg")
          h4.additional__name Комлектующие
          p.additional__text
            | Стандартные и усиленные комплектующие, 
            | обеспечивающие безопасность при монтаже
          label(class="additional__button button --secondary" for="callback") Оставить заявку
