.productTooltip {
  position: absolute;
  text-align: left;
  z-index: 10;
  &.--active {
    z-index: 15;
    & .productTooltip__icon {
      transform: rotate(45deg);
    }
    & .productTooltip__info {
      opacity: 1;
    }
    &.--left .productTooltip__info {
      transform: translate(0, -50%);
      @media (max-width: 1919px) {
        transform: none;
      }
    }
    &.--right .productTooltip__info {
      transform: translate(0, -50%);
      @media (max-width: 1919px) {
        transform: none;
      }
    }
  }
  &.--left {
    & .productTooltip__info {
      left: unset;
      right: calc(100% + 10px);
      transform: translate(-40px, -50%);
      @media (max-width: 1919px) {
        right: calc(100% - 17px);
        transform: translate(-40px, 0);
      }
    }
  }
  &.--right {
    & .productTooltip__info {
      left: calc(100% + 10px);
      right: unset;
      transform: translate(40px, -50%);
      @media (max-width: 1919px) {
        left: calc(100% - 17px);
        transform: translate(40px, 0);
      }
    }
  }
  &__container {
    position: relative;
  }
  &__icon {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid $red;
    background-color: $white;
    transition: background-color $transition, transform $transition;
    will-change: transform;
    z-index: 2;
    cursor: pointer;
    @media (max-width: 1023px) {
      width: 30px;
      height: 30px;
    }
    &:after,
    &:before {
      content: '';
      display: block;
      width: 15px;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: background-color $transition;
      background-color: $red;
      @media (max-width: 1023px) {
        width: 13px;
      }
    }
    &:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    &:hover {
      background-color: $red;
      &:after,
      &:before {
        background-color: $white;
      }
    }
  }
  &__info {
    width: 250px;
    position: absolute;
    top: 50%;
    opacity: 0;
    font-size: 14px;
    line-height: 1.57;
    border: 1px solid $red;
    background-color: $white;
    transition: transform $transition, opacity $transition;
    box-shadow: $shadow;
    pointer-events: none;
    z-index: 1;
    @media (max-width: 1919px) {
      width: 225px;
    }
    @media (max-width: 767px) {
      width: 200px;
    }
  }
  &__picture {
    width: 100%;
    height: 140px;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__content {
    padding: 10px 15px 30px;
  }
  &__name {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.66;
  }
  &__text {
    font-size: 14px;
    line-height: 1.57;
    & + & {
      margin-top: 5px;
    }
  }
}