section.section.consult
  .container
    .row
      .sectionHeader.--bg.outside.col-xxl-29.col-xl-31.col-lg-30.pl-xxl-3.pl-xl-1.pl-lg-2.pl-md-1.pr-xl-8.pr-lg-7.pr-md-10
        .sectionHeader__row
          .sectionHeader__icon.animate
          .sectionHeader__content
            h2.animate.sectionHeader__title.--short.title Рассчитаем ваш проект и&nbsp;ответим на вопросы
            p.animate.sectionHeader__description 
              | Наши консультанты свяжутся с вами, чтобы подобрать для вас лучшее решение. 
              | После согласования решения и подписания договора, мы доставим оборудование 
              | и&nbsp;материалы на объект. Весь процесс от момента обращения займет не более 2-х дней.
  .container
    .row
      .consult__content.outside.col-xxl-29.col-xl-31.col-lg-30.pr-xxl-5.pl-xxl-5.px-xl-3.px-lg-4.px-md-3
        .animate
          include ../../components/form/form



