.services {
  &__list {
    counter-reset: services;
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
    @media (max-width: 1439px) {
      margin-top: 5px;
    }
    @media (max-width: 1023px) {
      margin-top: 0;
    }
    @media (max-width: 767px) {
      margin-top: 30px;
    }
  }
  &__item {
    display: flex;
    margin-top: 45px;
    @media (max-width: 1439px) {
      margin-top: 85px;
    }
    @media (max-width: 1023px) {
      margin-top: 60px;
    }
    @media (max-width: 767px) {
      margin-top: 30px;
    }
  }
  &__count {
    height: 80px;
    margin-right: 45px;
    border-right: 1px solid $red;
    @media (max-width: 1919px) {
      margin-right: 30px;
    }
    @media (max-width: 1023px) {
      height: 60px;
      margin-right: 18px;
    }
    &:after {
      counter-increment: services;
      content: '0' counter(services);
      display: block;
      padding-right: 20px;
      font-size: 25px;
      line-height: 1;
      @media (max-width: 1439px) {
        font-size: 22px;
      }
      @media (max-width: 1023px) {
        font-size: 18px;
      }
    }
  }
  &__name {
    margin-bottom: 15px;
  }
}