section.section.services
  .container
    .row
      .sectionHeader.col-xl-31.col-lg-29.col-md-32.pl-xxl-3.pl-xl-1.pl-lg-2.pl-md-1.pr-xxl-9.pr-xl-5.pr-lg-4.pr-md-9
        .sectionHeader__row
          .sectionHeader__icon.animate
          .sectionHeader__content
            h2.animate.sectionHeader__title.title.--short Услуги для эффективного строительного процесса
            p.animate.sectionHeader__description 
              | Подготовим инженерный расчет и схему расстановки элементов под ваш проект. 
              | Для строительных организаций и дилеров в компании действует гибкая система 
              | скидок, основанная на индивидуальном подходе к каждому клиенту.
  .container
    ul.row.services__list
      li.animate.services__item.col-xxl-8.col-xl-10.col-md-13.ml-xxl-5.ml-xl-3.ml-lg-4.ml-md-3
        .services__count
        .services__content
          h4.services__name.title.title--block Аренда опалубки
          p.services__text.text
            | Аренда опалубки с правом выкупа — возможность выкупа спустя 
            | 5 месяцев за 50% стоимости.  За счет постоянного обновления 
            | арендного парка вы получаете комплект качественной опалубки 
            | и оборудования. Низкая цена аренды — выгодное предложение на 
            | опалубку класса ЕВРО.
      li.animate.services__item.col-xxl-8.col-xl-10.col-md-13
        .services__count
        .services__content
          h4.services__name.title.title--block Выкуп опалубки
          p.services__text.text
            | Выкупаем использованную опалубку или меняем на новую на выгодных 
            | условиях. Оперативно произведем осмотр, дефектовку, самовывоз. Для 
            | скорейшей оценки ваших материалов, присылайте на нашу почту перечень 
            | материалов и фотографии.
      li.animate.services__item.col-xxl-8.col-xl-10.col-md-13.ml-xxl-5.ml-xl-3.ml-lg-4.ml-md-3
        .services__count
        .services__content
          h4.services__name.title.title--block Продажа опалубки
          p.services__text.text
            | Продаем многоразовую стальную и алюминиевую опалубку. Опалубочные 
            | системы выполнены с использованием новых технологий и соответствуют 
            | всем требованиям ГОСТ, предъявляемым к опалубке для монолитного строительтва.
      li.animate.services__item.col-xxl-8.col-xl-10.col-md-13
        .services__count
        .services__content
          h4.services__name.title.title--block Консалтинг
          p.services__text.text
            | Поможем найти лучшее решение по оптимизации бюджета. Расскажем, 
            | как сохранить оборудование для дальнейшего использования..
      li.animate.services__item.col-xxl-8.col-xl-10.col-md-13.ml-xxl-5.ml-xl-3.ml-lg-4.ml-md-3
        .services__count
        .services__content
          h4.services__name.title.title--block Ремонт оборудования
          p.services__text.text
            | Придадим вторую жизнь вашему комплекту оборудования после его использования.
      li.animate.services__item.col-xxl-8.col-xl-10.col-md-13
        .services__count
        .services__content
          h4.services__name.title.title--block Хранение
          p.services__text.text
            | Воспользуйтесь нашим складом, чтобы защитить ваш комплект 
            | оборудования от негативных погодных условий