section.section.services
  .container
    .row
      .sectionHeader.col-31.col-lg-29.pl-xxl-3.pl-xl-1.pl-lg-2.pr-xxl-9.pr-xl-5
        .sectionHeader__row
          .sectionHeader__icon
          .sectionHeader__content
            h2.sectionHeader__title.title.--short Услуги для эффективного строительного процесса
            p.sectionHeader__description 
              | Подготовим инженерный расчет и схему расстановки элементов под ваш проект. 
              | Для строительных организаций и дилеров в компании действует гибкая система 
              | скидок, основанная на индивидуальном подходе к каждому клиенту.
  .container
    ul.row.services__list
      li.services__item.col-xxl-8.col-xl-10.col-lg-13.ml-xxl-5.ml-xl-3.ml-lg-4
        .services__count
        .services__content
          h4.services__name Аренда опалубки
          p.services__text
            | Аренда опалубки с правом выкупа — возможность выкупа спустя 
            | 5 месяцев за 50% стоимости.  За счет постоянного обновления 
            | арендного парка вы получаете комплект качественной опалубки 
            | и оборудования. Низкая цена аренды — выгодное предложение на 
            | опалубку класса ЕВРО.
      li.services__item.col-xxl-8.col-xl-10.col-lg-13
        .services__count
        .services__content
          h4.services__name Выкуп опалубки
          p.services__text
            | Выкупаем использованную опалубку или меняем на новую на выгодных 
            | условиях. Оперативно произведем осмотр, дефектовку, самовывоз. Для 
            | скорейшей оценки ваших материалов, присылайте на нашу почту перечень 
            | материалов и фотографии.
      li.services__item.col-xxl-8.col-xl-10.col-lg-13.ml-xxl-5.ml-xl-3.ml-lg-4
        .services__count
        .services__content
          h4.services__name Продажа опалубки
          p.services__text
            | Продаем многоразовую стальную и алюминиевую опалубку. Опалубочные 
            | системы выполнены с использованием новых технологий и соответствуют 
            | всем требованиям ГОСТ, предъявляемым к опалубке для монолитного строительтва.
      li.services__item.col-xxl-8.col-xl-10.col-lg-13
        .services__count
        .services__content
          h4.services__name Консалтинг
          p.services__text
            | Поможем найти лучшее решение по оптимизации бюджета. Расскажем, 
            | как сохранить оборудование для дальнейшего использования..
      li.services__item.col-xxl-8.col-xl-10.col-lg-13.ml-xxl-5.ml-xl-3.ml-lg-4
        .services__count
        .services__content
          h4.services__name Ремонт оборудования
          p.services__text
            | Придадим вторую жизнь вашему комплекту оборудования после его использования.
      li.services__item.col-xxl-8.col-xl-10.col-lg-13
        .services__count
        .services__content
          h4.services__name Хранение
          p.services__text
            | Воспользуйтесь нашим складом, чтобы защитить ваш комплект 
            | оборудования от негативных погодных условий