section.section.hero
  .container
    .row.flex-lg-row.flex-sm-column-reverse.px-sm-0
      .hero__content.outside.col-lg-16.px-xxl-3.pl-xl-1.pl-lg-2.pr-lg-2.pl-md-1.pr-md-1
        h1.hero__title.title 
          | Качественная опалубка в&nbsp;аренду 
          span от 185 ₽
        p.hero__description 
          | Подбираем оборудование и рассчитываем любые объемы, 
          | чтобы вы обошлись минимальным комплектом
        ul.hero__benefits
          li.hero__benefit
            .hero__benefit-head
              span 30
              | тысяч
            p.hero__benefit-text Метров<sup>2</sup> опалубки на&nbsp;складе
          li.hero__benefit
            .hero__benefit-head
              span 15
              | минут
            p.hero__benefit-text Занимает рассчет на&nbsp;опалубку
          li.hero__benefit
            .hero__benefit-head
              span 1
              | день
            p.hero__benefit-text Выход на договор в&nbsp;день заявок
        a.hero__button.button Оставить заявку
      .hero__background.col-lg-16.col-sm-32.pl-md-1.pl-lg-0.pr-0.px-sm-0
        .hero__background-box
          img(class="hero__background-image" src="./images/hero.png", alt="Пример опалубки")
