section.section.about
  .container
    .row
      .sectionHeader.--bg.outside.col-xxl-29.col-xl-31.col-lg-30.col-md-32.pl-xxl-3.pl-xl-1.pl-lg-2.pl-md-1.pr-lg-9.pr-md-8.px-sm-0.mr-xxl-3.mr-xl-1.mr-lg-2.mr-md-0
        .sectionHeader__row
          .sectionHeader__icon
          .sectionHeader__content
            h2.sectionHeader__title.title.--short На строительном рынке — с&nbsp;2013&nbsp;года
            p.sectionHeader__description 
              | «Согран» занимается арендой, продажей и выкупом опалубочных 
              | систем. Мы работаем с новой, trade-in и б/у опалубкой известных 
              | производителей — 
              span.red 
                | Doka, Peri, NOE, Huennebeck, Мекос, Гелиос, 
                | Агрисовгаз, Крамос, Гамма, ПСК Дельта
  .container
    .row
      .about__info.col-xxl-22.col-lg-24.pl-xxl-3.pl-xl-1.pl-lg-2.px-md-1.px-sm-0
        .about__video
          a(class="about__video-link" href="#0")
            .about__video-icon
      p.about__description.col-xl-7.col-lg-6.pr-xxl-3.pl-xl-0.pr-xl-1.pl-lg-0.px-md-1.outside
        | Фильм о компании и слова Гендиректора Максимова Михаила Максимовича

