section.section.about
  .container
    .row
      .sectionHeader.--bg.outside.col-29.pl-3.pr-9.mr-3
        .sectionHeader__row
          .sectionHeader__icon
          .sectionHeader__content
            h2.sectionHeader__title.title.--short На строительном рынке — с&nbsp;2013&nbsp;года
            p.sectionHeader__description 
              | «Согран» занимается арендой, продажей и выкупом опалубочных 
              | систем. Мы работаем с новой, trade-in и б/у опалубкой известных 
              | производителей — 
              span.red 
                | Doka, Peri, NOE, Huennebeck, Мекос, Гелиос, 
                | Агрисовгаз, Крамос, Гамма, ПСК Дельта
  .container
    .row
      .about__info.col-22.pl-3
        .about__video
          a(class="about__video-link" href="#0")
            .about__video-icon
      p.about__description.col-7.pr-3.outside
        | Фильм о компании и слова Гендиректора Максимова Михаила Максимовича

