.header {
  position: sticky;
  width: 100%;
  padding: 20px 0;
  background-color: $white;
  transform: translate3d(0, -100%, 0);
  transition: padding $transition, transform $transition, box-shadow $transition;
  z-index: 100;
  &.--scroll {
    top: 0;
    padding: 15px 0;
    transform: none;
    box-shadow: $shadowBold;
    & .header__container {
      justify-content: flex-start;
    }
    & .header__logo {
      margin-right: 50px;
    }
    & .logo__picture {
      height: 60px;
    }
    & .header__contacts {
      margin-left: auto;
    }
    & .header__button {
      display: inline-block;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__phone {
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
  }
  &__button {
    display: none;
    margin-left: 35px;
  }
}
