header.header
  .container
    .row
      .header__container.col-xxl-26.col-xl-30.mx-xxl-3.mx-xl-1.mx-lg-2.mx-md-1.p-0
        .header__logo
          .logo
            .logo__picture
              img(class="logo__image" src="./images/logo.svg")
        input(class="header__trigger" type="checkbox" id="nav" name="nav")
        .header__nav
          .header__nav-container
            include ../nav/nav
        address.header__contacts
          a(class="header__phone" href="tel:+74957952895") +7 (495) 795-28-95
          label(class="header__button button --secondary" for="callback") Оставить заявку
        label(class="header__burger" for="nav")

