section.section.catalog
  .container
    .row
      +sectionHeader(
        ' col-xxl-19 col-xl-22 col-lg-21 col-md-23 ml-xxl-3 ml-xl-1 ml-lg-2 ml-md-1 p-0',
        'Каталог опалубки',
        'Подготовим инженерный расчет и схему расстановки элементов под ваш проект. Для строительных организаций и дилеров в компании действует гибкая система скидок, основанная на индивидуальном подходе к каждому клиенту.'
      )
  .container.catalog__products
    ul.row.catalog__products-list



      li.animate.col-xxl-13.col-xl-15.col-lg-14.col-md-15.pl-0.ml-xxl-3.ml-xl-1.ml-lg-2.ml-md-1.catalog__products-item
        .product
          .product__picture
            .product__box
              +productTooltip({
                mode: ' --left', 
                position: 'top: 25%; left: 41%;', 
                image: './images/productTooltip-01.jpg', 
                name: 'Ровная геометрия' , 
                texts: [ 'В процессе работы не придется срезать или шлифовать бетон'
              ]})
              +productTooltip({
                mode: ' --right', 
                position: 'top: 60%; left: 13%;', 
                image: './images/productTooltip-01.jpg', 
                name: 'Ровная геометрия' , 
                texts: [ 'В процессе работы не придется срезать или шлифовать бетон'
              ]})
              +productTooltip({
                mode: ' --bottom', 
                position: 'top: 53%; left: 65%;', 
                image: './images/productTooltip-01.jpg', 
                name: 'Ровная геометрия' , 
                texts: [ 'В процессе работы не придется срезать или шлифовать бетон'
              ]})
              img(class="product__image" src="./images/products/01.png", alt="Продукт")
          .product__content
            .product__info
              h4.product__name.title.title--block Стеновая опалубка
              p.product__text.text 
                | Состоит из фанерных щитов с каркасом из металлического профиля толщиной 2,5 мм. 
                | Форматы щитов позволяют возводить конструкции любых размеров и использовать их как 
                | в горизонтально, так и в вертикальном положении.
            .product__footer
              .product__price
                .product__price-value.title.title--block от 102 ₽/м<sup>2</sup>
                .product__price-icon ?
                  .tooltip
                    .tooltip__content
                      | пример универсал 0,8*3)*20 р. на 7 дней + 2 подкоса + крепеж
              .product__button
                a(class="button" href="#") Оставить заявку



      li.animate.col-xxl-13.col-xl-15.col-lg-14.col-md-15.pr-0.catalog__products-item
        .product
          .product__picture
            .product__box
              +productTooltip({
                mode: ' --right', 
                position: 'top: 25%; left: 37%;', 
                image: './images/productTooltip-01.jpg', 
                name: 'Ровная геометрия' , 
                texts: [ 'В процессе работы не придется срезать или шлифовать бетон'
              ]})
              +productTooltip({
                mode: ' --bottom', 
                position: 'top: 47%; left: 64%;', 
                image: './images/productTooltip-01.jpg', 
                name: 'Ровная геометрия' , 
                texts: [ 'В процессе работы не придется срезать или шлифовать бетон'
              ]})
              img(class="product__image" src="./images/products/02.png", alt="Продукт")
          .product__content
            .product__info
              h4.product__name.title.title--block Опалубка перекрытий
              p.product__text.text 
                | Наборы опалубки для потолочных перекрытий позволяют формировать перекрытия любых 
                | размеров и конфигураций. Предназначена для строительства горизонтальных и наклонных 
                | монолитных бетонных сооружений.
            .product__footer
              .product__price
                .product__price-value.title.title--block от 102 ₽/м<sup>2</sup>
                .product__price-icon ?
                  .tooltip
                    .tooltip__content
                      | пример универсал 0,8*3)*20 р. на 7 дней + 2 подкоса + крепеж
              .product__button
                a(class="button" href="#") Оставить заявку



      li.animate.col-xxl-13.col-xl-15.col-lg-14.col-md-15.pl-0.ml-xxl-3.ml-xl-1.ml-lg-2.ml-md-1.catalog__products-item
        .product
          .product__picture
            .product__box
              +productTooltip({
                mode: ' --right', 
                position: 'top: 36%; left: 51%;', 
                image: './images/productTooltip-01.jpg', 
                name: 'Ровная геометрия' , 
                texts: [ 'В процессе работы не придется срезать или шлифовать бетон'
              ]})
              +productTooltip({
                mode: ' --bottom', 
                position: 'top: 69%; left: 23%;', 
                image: './images/productTooltip-01.jpg', 
                name: 'Ровная геометрия' , 
                texts: [ 'В процессе работы не придется срезать или шлифовать бетон'
              ]})
              img(class="product__image" src="./images/products/03.png", alt="Продукт")
          .product__content
            .product__info
              h4.product__name.title.title--block Опалубка колонн
              p.product__text.text 
                | Для формирования монолитных колонн с помощью универсальных щитов и с использованием 
                | угловых элементов. Угловые элементы подходят для быстрого возведения квадратных колонн 
                | без большой квалификации рабочих.
            .product__footer
              .product__price
                .product__price-value.title.title--block от 102 ₽/м<sup>2</sup>
                .product__price-icon ?
                  .tooltip
                    .tooltip__content
                      | пример универсал 0,8*3)*20 р. на 7 дней + 2 подкоса + крепеж
              .product__button
                a(class="button" href="#") Оставить заявку



      li.animate.col-xxl-13.col-xl-15.col-lg-14.col-md-15.pr-0.catalog__products-item
        .product
          .product__picture
            .product__box
              +productTooltip({
                mode: ' --bottom', 
                position: 'top: 48%; left: 60%;', 
                image: './images/productTooltip-01.jpg', 
                name: 'Ровная геометрия' , 
                texts: [ 'В процессе работы не придется срезать или шлифовать бетон'
              ]})
              img(class="product__image" src="./images/products/04.png", alt="Продукт")
          .product__content
            .product__info
              h4.product__name.title.title--block Оборудование
              p.product__text.text 
                | Станки для резки и гибки арматуры. Аппарат для обогрева бетона. Все строительное оборудование 
                | специально подобрано, учитывая нужды стройплощадок. В нашем каталоге представлены модели станков 
                | и агрегатов отечественных и зарубежных производителей.
            .product__footer
              .product__price
                .product__price-value.title.title--block от 102 ₽/м<sup>2</sup>
                .product__price-icon ?
                  .tooltip
                    .tooltip__content
                      | пример универсал 0,8*3)*20 р. на 7 дней + 2 подкоса + крепеж
              .product__button
                a(class="button" href="#") Оставить заявку

