* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
  &:focus {
    outline: none;
  }
}

body {
  position: relative;
  margin: 0;
  color: $black;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

address {
  margin: 0;
  font-style: normal;
}

img,
video {
  max-width: 100%;
}

img {
  border: 0;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
  & + & {
    margin-top: 30px;
  }
}

a {
  color: $black;
  text-decoration: none;
  transition: color $transition;
  &:hover {
    color: $red;
    text-decoration: none;
  }
}

input,
textarea {
  width: 100%;
  padding: 0;
  border: none;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  background-color: transparent;
}

textarea {
  resize: none;
}

button {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
}

.container {
  max-width: 1920px;
}

.title {
  margin-bottom: 15px;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
  &--block {
    font-size: 25px;
    line-height: 1.4;
  }
}

.text {
  font-size: 16px;
  line-height: 1.625;
}

.link {
  color: $red;
  transition: color $transition;
  &.--animation {
    display: inline;
    background-size: 0% 1px;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, $red, $red);
    transition: color $transition, background-size $transition;
    &:hover {
      background-size: 100% 1px;
    }
  }
}

.button {
  display: inline-block;
  min-width: 258px;
  padding: 16px 10px 15px;
  color: $white;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border: 1px solid $red;
  background-color: $red;
  transition: color $transition, background-color $transition;
  cursor: pointer;
  &:hover {
    color: $white;
    border-color: $black;
    background-color: $black;
  }
  &.--secondary {
    color: $red;
    border-color: $red;
    background-color: transparent;
    &:hover {
      color: $white;
      border-color: $red;
      background-color: $red;
    }
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $gray;
}

.section {
  margin: 120px 0;
  &:first-of-type {
    margin-top: 0;
  }
}

.outside {
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: $white;
  }
  &.--right {
    &:after {
      left: unset;
      right: 0;
      transform: translateX(100%);
    }
  }
}

.logo {
  &__picture {
    height: 80px;
    overflow: hidden;
  }
}

.map {
  width: 100%;
  height: 665px;
  background-color: $white;
}

.red {
  color: $red;
}
