footer.footer
  .container
    .row
      .footer__container.col-xxl-26.col-xl-30.col-lg-28.ml-xxl-3.mr-xxl-3.ml-xl-1.mr-xl-1.mr-lg-2.ml-lg-2.mr-md-1.ml-md-1.p-0
        .footer__info.animate
          p.footer__text &copy; 2013-2020. Согран ТМ. Все права защищены,
          p.footer__text ООО «Аэлита» ИНН 2320212880, ОГРН 1132366005485
        .footer__agency.animate Сделано в 
          a(class="footer__agency-link link --animation" href="#") Mainbit