footer.footer
  .container
    .footer__container
      .footer__info
        p.footer__text &copy; 2013-2020. Согран ТМ. Все права защищены,
        p.footer__text ООО «Аэлита» ИНН 2320212880, ОГРН 1132366005485
      .footer__agency Сделано в 
        a(class="footer__agency-link link" href="#") Mainbit