footer.footer
  .container
    .row
      .footer__container.col-26.ml-3.mr-3.p-0
        .footer__info
          p.footer__text &copy; 2013-2020. Согран ТМ. Все права защищены,
          p.footer__text ООО «Аэлита» ИНН 2320212880, ОГРН 1132366005485
        .footer__agency Сделано в 
          a(class="footer__agency-link link" href="#") Mainbit