.sectionHeader {
  &.--bg {
    padding-top: 90px;
    padding-bottom: 30px;
    background-color: $white;
  }
  &__row {
    display: flex;
  }
  &__icon {
    min-width: $headerIconWidth;
    height: 2px;
    margin: $headerIconOffset $headerIconOffset 0 0;
    background-color: $red;
  }
  &__title {
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 1.5;
    text-transform: uppercase;
    &.--short {
      max-width: 745px;
    }
  }
  &__description {
    font-size: 25px;
    line-height: 1.8;
  }
}