mixin sectionHeader(classes, title, description)
  div(class="sectionHeader" + classes)
    .sectionHeader__row
      .sectionHeader__icon
      .sectionHeader__content
        h2.sectionHeader__title.title= title
        if description
          p.sectionHeader__description= description