mixin sectionHeader(classes, title, description)
  div(class="sectionHeader" + classes)
    .sectionHeader__row
      .sectionHeader__icon.animate
      .sectionHeader__content
        h2.animate.sectionHeader__title.title= title
        if description
          p.animate.sectionHeader__description= description