section.section.contacts
  .container
    .contacts__row.row
      .contacts__block.contacts__info.col-lg-16.col-md-32.pl-xxl-3.pl-xl-1.pl-lg-2.pl-md-1.pr-lg-1
        .sectionHeader
          .sectionHeader__row
            .sectionHeader__icon.animate
            .sectionHeader__content
              h2.animate.sectionHeader__title.--short.title Наш офис и&nbsp;склад
        address.contacts__address
          .contacts__address-links
            a(class="animate contacts__address-link link --tel" href="tel:+74957952895") +7 (495) 795-28-95
            a(class="animate contacts__address-link link" href="mailto:mail@sogran.ru") mail@sogran.ru
          p.contacts__address-text г. Москва, Рязанский проспект 26,  строение 1
      .contacts__block.outside.--right.col-lg-16.col-md-32.p-0
        .map.animate
        