.contacts {
  margin: -120px 0 0;
  overflow: hidden;
  &__info {
    display: flex;
    flex-direction: column;
    padding: 120px 0;
  }
  &__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: $headerIconWidth + $headerIconOffset;
    &-links {
      margin: auto 0;
    }
    &-link {
      display: block;
      color: $black;
      font-size: 25px;
      line-height: 1.8;
      background: unset;
      &.--tel {
        margin-bottom: 8px;
        font-size: 50px;
        line-height: 1.3;
      }
    }
  }
}
