section.section.contacts
  .container
    .contacts__row.row
      .contacts__block.contacts__info.co.col-16.pl-3
        .sectionHeader
          .sectionHeader__row
            .sectionHeader__icon
            .sectionHeader__content
              h2.sectionHeader__title.--short.title Наш офис и склад
        address.contacts__address
          .contacts__address-links
            a(class="contacts__address-link link --tel" href="tel:+74957952895") +7 (495) 795-28-95
            a(class="contacts__address-link link" href="mailto:mail@sogran.ru") mail@sogran.ru
          p.contacts__address-text г. Москва, Рязанский проспект 26,  строение 1
      .contacts__block.outside.--right.col-16.p-0
        .map
        