doctype html
html(lang="")
  head
    // ...
    link(rel="stylesheet", href="style.css")
  body
    h1 Hellfdfda da ffff f


    mixin cards(a, b)
        li
            a(href="")
                span= a

    +cards('qweqwe')
    +cards('qweqwe123123')


    script(src="index.ts")