doctype html
html(lang="ru-RU")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./style.scss")
    title Качественная опалубка в аренду от 185 ₽
  body
    .wrapper
      include ./components/header/header

      main.main
        include ./sections/hero/hero
        include ./sections/catalog/catalog

      include ./components/footer/footer

  script(src="index.ts")

























