doctype html
html(lang="ru-RU")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="./style.scss")
    title Качественная опалубка в аренду от 185 ₽
    
    include components/mixins
  body
    .wrapper
      include ./components/header/header

      main.main
        include ./sections/hero/hero
        include ./sections/catalog/catalog
        include ./sections/additional/additional
        include ./sections/about/about
        include ./sections/services/services
        include ./sections/portfolio/portfolio
        include ./sections/clients/clients
        include ./sections/consult/consult
        include ./sections/contacts/contacts

      include ./components/footer/footer

      include ./components/preloader/preloader

  script(src="index.ts")







