section.section.clients
  .container
    .row
      .sectionHeader.col-29.pl-3.pr-9.mr-3
        .sectionHeader__row
          .sectionHeader__icon
          .sectionHeader__content
            h2.sectionHeader__title.title более 450 клиентов доверяют Нам
  .container
    ul.clients__list.row
      li.clients__item.col-6.ml-5
        img(class="clients__image" src="/images/clients/01.png", alt="Логотип")
      li.clients__item.col-6
        img(class="clients__image" src="/images/clients/02.png", alt="Логотип")
      li.clients__item.col-6
        img(class="clients__image" src="/images/clients/01.png", alt="Логотип")
      li.clients__item.col-6.ml-5
        img(class="clients__image" src="/images/clients/01.png", alt="Логотип")
      li.clients__item.col-6
        img(class="clients__image" src="/images/clients/02.png", alt="Логотип")
      li.clients__item.col-6
        img(class="clients__image" src="/images/clients/01.png", alt="Логотип")
