section.section.clients
  .container
    .row
      .sectionHeader.pl-xxl-3.pl-xl-1.pl-lg-2.pl-md-1.pr-xxl-9.pr-xl-7.pr-md-15
        .sectionHeader__row
          .sectionHeader__icon
          .sectionHeader__content
            h2.sectionHeader__title.title более 450 клиентов доверяют Нам
  .container
    ul.clients__list.row
      li.clients__item.col-xxl-6.col-md-7.ml-xxl-5.ml-xl-4.ml-lg-5.ml-md-3
        img(class="clients__image" src="/images/clients/01.png", alt="Логотип")
      li.clients__item.col-xxl-6.col-md-7
        img(class="clients__image" src="/images/clients/02.png", alt="Логотип")
      li.clients__item.col-xxl-6.col-md-7
        img(class="clients__image" src="/images/clients/01.png", alt="Логотип")
      li.clients__item.col-xxl-6.col-md-7.ml-xxl-5.ml-xl-4.ml-lg-5.ml-md-3
        img(class="clients__image" src="/images/clients/01.png", alt="Логотип")
      li.clients__item.col-xxl-6.col-md-7
        img(class="clients__image" src="/images/clients/02.png", alt="Логотип")
      li.clients__item.col-xxl-6.col-md-7
        img(class="clients__image" src="/images/clients/01.png", alt="Логотип")
