nav.nav
  ul.nav__list
    li.nav__item
      a(class="nav__link" href="#") Каталог опалубки
    li.nav__item
      a(class="nav__link" href="#") О компании
    li.nav__item
      a(class="nav__link" href="#") Услуги
    li.nav__item
      a(class="nav__link" href="#") Проекты
    li.nav__item
      a(class="nav__link" href="#") Клиенты
    li.nav__item
      a(class="nav__link" href="#") Контакты
  a(class="nav__button button --secondary" href="#") Оставить заявку